@model IEnumerable<LoanModel>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Game Loans</h1>
        <div>
            <a class="btn btn-success mx-2" asp-controller="Loan" asp-action="Create">Create New Loan</a>
            <a class="btn btn-success mx-2" asp-controller="Loan" asp-action="Export"><i class="bi-file-earmark-plus mx-2"></i>Export</a>
        </div>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success text-light" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <div style="max-height: 900px; overflow-y: auto;">
        <table id="GameLoans" class="table table-light mt-5 table-hover text-dark">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Borrower</th>
                    <th scope="col" class="text-center">Lender</th>
                    <th scope="col" class="text-center">Game</th>
                    <th scope="col" class="text-center">Genre</th>
                    <th scope="col" class="text-center" style="white-space: nowrap;">Loan Date</th>
                    <th scope="col" class="text-center" style="white-space: nowrap;">Return Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var loan in Model)
                    {
                        <tr>
                            <th scope="row">@loan.Borrower</th>
                            <td>@loan.Lender</td>
                            <td>@loan.Game</td>
                            <td>@loan.Genre</td>
                            <td>@loan.LoanDate.ToString("MM/dd/yyyy")</td>
                            <td>@loan.ReturnDate.ToString("MM/dd/yyyy")</td>
                            <td>
                                <div class="d-flex justify-content-start align-items-center">
                                    <a asp-controller="Loan" asp-action="Edit" asp-route-id="@loan.Id" class="btn btn-warning mx-2 d-flex align-items-center">
                                        <i class="bi bi-pencil-square me-2"></i> Edit
                                    </a>
                                    <a asp-controller="Loan" asp-action="Delete" asp-route-id="@loan.Id" class="btn btn-danger mx-2 d-flex align-items-center">
                                        <i class="bi bi-trash3 me-2"></i> Delete
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
